services:
  builder:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c "
        composer install &&
        php vendor/bin/robo watch
      "

  web:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - builder
